USE [master]
GO
CREATE DATABASE [Phonebook]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phonebook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phonebook]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 19.2.2022 03:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[PhoneNumber] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [FirstName], [LastName], [PhoneNumber]) VALUES (1, N'Tugg', N'Speedman', N'5(462) 656 6568')
INSERT [dbo].[Contacts] ([ContactId], [FirstName], [LastName], [PhoneNumber]) VALUES (2, N'Kirk', N'Lazarus', N'2(654) 645 4645')
INSERT [dbo].[Contacts] ([ContactId], [FirstName], [LastName], [PhoneNumber]) VALUES (3, N'Jeff', N'Portnoy', N'6(548) 516 4452')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
USE [master]
GO
